@import url(http://fonts.googleapis.com/css?family=Fenix);
/*<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
*/
@import url(http://fonts.googleapis.com/css?family=Quattrocento+sans);
@import url(http://fonts.googleapis.com/css?family=Carme);
body {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
p {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}
div {
}
